*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.container{
    background-color: #fff;
    width: 390px;
    border-radius: 9px;
    padding: 40px;
}

.qr-code {
    border-radius: 1rem;
    overflow: hidden;
}

.qr-code img{
    width: 100%;    
}

.header h1{
    width: fit-content;
    text-align: center;
    font-size: 1.6rem;
}

.header p{
    margin-top: 15px ;
    color: gray;
    font-size: 15px;
}

.attribution { 
        font-size: 11px; 
        text-align: center;
        margin-top: 10px;
    
    }


.attribution a {
     color: hsl(228, 45%, 44%); 
     

    }

    @media screen and (max-width:600px) {
        body{
         padding: 20px;
        } 
      .container{
         width: 80%;
        }
     }